// Define variables for your color scheme

// For example:

$background: #FFFFFF;
$background-cards: #F2F2F3;
$line-color: #D2D2D4;
$text-color: #B1B0B5;
$headers-color: #000000;
$hover-primary: #0A37FF;
$primary: #3458FF;
$highlight: #5C7AFF;
$secondary: #C2CDFF;


$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$custom-bg:white
;
