<div class="container mt-5">
  <h1>Templates</h1>
  <div id="template">
  <% @templates.each do |template| %>
     <p>
    <strong>Title:</strong>
    <%= template.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= template.description %>
  </p>
    <p>
      <%= link_to "Show this template", template %>
    </p>
  <% end %>
  </div>

   <%= link_to "New Template", new_template_path %>
</div>
