<div class="container mt-5">
  <h1>Templates</h1>
  <div id="template">
  <% @templates.each do |template| %>

    <div class="card flex-md-row mb-2 box-shadow h-md-250 text-white bg-primary col-12 d-flex justify-content-between p-2">
      <div class="card-body d-flex flex-column align-items-start">
        <h5 class="card-title"><%= template.title %></h5>
        <p class="card-text"><%= template.description %></p>
      </div>
      <div class="card-body d-flex align-items-end justify-content-end align-items-center">
        <%= link_to "Show this template", template, :class => "btn btn-light"  %>
    </div>
    </div></>
  <% end %>
  </div>
      <div class="card  h-md-250 text-white bg-light col-12 d-flex justify-content-center p-2">

   <%= link_to "New Template", new_template_path, :class => "btn btn-light" %>
</div>
