<<<<<<< HEAD
<div class="container">

<h1 class="display-1 title">New template</h1>

<%= render "form", template: @template %>
=======
<div class="container mt-5">
  <h1 class="display-1">New template</h1>

  <%= render "form", template: @template %>
>>>>>>> 154e8c46775d41f0f7f79413e442bec66348b45f
</div>
