
<div class="fullpagebackground"> </div>
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1655890954753-f9ec41ce58ae?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="display-1"><strong>Next_Gen_AI_Interface</strong></h1>
    <h2 class= "mb-5">Change your life and your daily routines to create a smoother experience with less mundane work, and more.</h2>
    <a class="my-btn-home" href="#">Start now</a>
  </div>

</div>

<div class="container mt-5 mb-5">
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-primary">
      <div class="card-body text-white" style="height: 200px;">
        <h2 class="card-title">Ai_Manager</h5>
        <p class="card-text"> <strong>Next_gen_ai_interface</strong> an initial focus on guiding and engineering processes on time managment.
        <strong>Ai_manager</strong> to generate a range of bold and beautiful templates, plus copy related to your expectetion. No more creating websites from scratch!
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-primary">
      <div class="card-body text-white" style="height: 200px;">
        <h2 class="card-title">Time Text_Genarate Template</h5>
        <p class="card-text">
        After you pick a template, make it work for your needs with a simple, drag-and-drop editor. You won’t have to write a single line of code!
        Train to an <strong>Ai_Text_Template</strong> and To understand work to smart.
        </p>
      </div>
    </div>
  </div>
</div>
<div>
