<div class="container mt-5">
<h1 class="display-1 mb-4">Annual Template</h1>
<h2 class="mb-5">Email for all the years through Le Wagon sed nec egestas, facilisis lectus integer et faucibus fusce wisi, sit non sem .</h2>
<%= render "form", example: @example %>
</div>
