// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30vh 0;
  opacity: 0.8;
  text-align: center;

}

.fullpagebackground {
  position: fixed;
  background-color: rgb(208, 226, 246);
  height: 100vh;
  width: 100vw;
}



.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 100px;
  font-weight: bold;
}



.banner h2 {
  color: black;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
