.field-tag {
  font-weight: 700;
  background-color: #C2CDFF;
  border-radius: 4px;
  color: $primary;

  &::before {
    content: "<";
  }

  &::after {
    content: ">";
  }
}


.field-value {
  font-weight: 700;
  color: $primary;
}
