.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.piped li {
  border-left: 1px solid $line-color;
  padding: 0 10px;
}

.piped li:first-child {
  border-left: none;
  padding-left: 0;
}

.piped li:last-child {
  border-left: none;
  padding-left: 0;
}
