.tag-item {
  display: inline-block;
}

.tag-item > input {
  position: absolute;
  transform: scale(0);
}

.tag-item > input + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-item > input:checked + label {
  background-color: $primary;
  color: white;
}
