<div class="container mt-5">
  <h1 class="display-1">Output</h1>
  <div class="col-12 card bg-light p-3 rounded">
    <%= @output.content %>
  </div>
  <%= link_to "Copy", output_path, class: 'btn btn-secondary'%>
</div>
