<div data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
  <div class="container mt-5">
    <h1 class="display-1">Output</h1>
    <div class="col-12 card bg-light p-3 rounded min-output relative flex mb-3">
      <div data-clipboard-target="input">
        <%= @output.content %>
      </div>
    </div>

    <button class="copy_button btn btn-secondary" data-clipboard-target="button" data-action="click->clipboard#copy">Copy to Clipboard</button>
    <%= link_to 'Back', :back, class: 'btn btn-secondary mx-3' %>
  </div>
</div>
